In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc

plt.rcParams['axes.unicode_minus']=False
rc('font', family ='NanumMyeongjo')
pd.set_option('display.max_columns', None)

In [113]:
train = pd.read_csv('parking_data/train.csv')
test = pd.read_csv('parking_data/test.csv')
sub = pd.read_csv('parking_data/sample_submission.csv')
ageG = pd.read_csv('parking_data/age_gender_info.csv')

In [114]:
train_col = ['단지코드','총세대수','건물구분','지역','공급유형','전용면적','전용면적별세대수',
       '공가수','자격유형','임대보증금','임대료','지하철','버스','단지내주차면수','등록차량수']

test_col = ['단지코드','총세대수','건물구분','지역','공급유형','전용면적','전용면적별세대수',
       '공가수','자격유형','임대보증금','임대료','지하철','버스','단지내주차면수']

In [115]:
train.columns = train_col
test.columns = test_col

In [116]:
## 중복값 제거 

train.drop_duplicates(inplace = True)
test.drop_duplicates(inplace = True)

# 정리하기

# 결측치 처리

In [61]:
train.isna().sum()

단지코드          0
총세대수          0
건물구분          0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금       292
임대료         292
지하철         155
버스            4
단지내주차면수       0
등록차량수         0
dtype: int64

In [62]:
test.isna().sum()

단지코드          0
총세대수          0
건물구분          0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          2
임대보증금       114
임대료         114
지하철          34
버스            0
단지내주차면수       0
dtype: int64

## 자격유형

In [63]:
test[test.자격유형.isna()]

,단지코드,총세대수,건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [64]:
test[test.단지코드 =='C2411']

,단지코드,총세대수,건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000,100720,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000,100720,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000,100720,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000,171480,0.0,2.0,840.0

#### 단지코드가 'C2411'인 경우 자격유형의 NaN 값에 'A'로 대체

In [117]:
test.loc[ (test.단지코드=='C2411') & (test.자격유형.isna()), '자격유형'] ='A'

In [66]:
test[test.단지코드 =='C2253']

,단지코드,총세대수,건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000,83020,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000,83020,0.0,2.0,173.0
261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,NaN,NaN,0.0,2.0,173.0
262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,NaN,NaN,0.0,2.0,173.0
263,C2253,1161,상가,강원도,임대상가,22.91,1,0.0,D,NaN,NaN,0.0,2.0,173.0
264,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,NaN,NaN,0.0,2.0,173.0
266,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,NaN,NaN,0.0,2.0,173.0
268,C2253,1161,상가,강원도,임대상가,24.19,1,0.0,D,NaN,NaN,0.0,2.0,173.0
269,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
275,C2253,1161,상가,강원도,임대상가,28.19,1,0.0,D,NaN,NaN,0.0,2.0,173.0
276,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
281,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,NaN,NaN,0.0,2.0,173.0
283,C2253,1161,상가,강원도,임대상가,42.35,1,0.0,D,NaN,NaN,0.0,2.0,173.0
284,C2253,1161,상가,강원도,임대상가,42.40,1,0.0,D,NaN,NaN,0.0,2.0,173.0
285,C2253,1161,상가,강원도,임대상가,55.17,1,0.0,D,NaN,NaN,0.0,2.0,173.0
286,C2253,1161,상가,강원도,임대상가,55.50,1,0.0,D,NaN,NaN,0.0,2.0,173.0
287,C2253,1161,상가,강원도,임대상가,82.92,1,0.0,D,NaN,NaN,0.0,2.0,173.0
288,C2253,1161,상가,강원도,임대상가,248.56,1,0.0,D,NaN,NaN,0.0,2.0,173.0

#### 단지코드 ='C2253' 경우 'D' 인 경우 임대보증금과 임대료 모두 NaN 이며, 현재 자격유형이 NaN 의 데이터를 보면 임대보증금과 임대료가 있으므로 이러한 형태를 보이는 자격유형 'C' 로 변경

In [118]:
test.loc[ test.자격유형.isna() & (test.단지코드 == 'C2253'), '자격유형' ] = 'C'

In [68]:
test.isna().sum()

단지코드          0
총세대수          0
건물구분          0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금       114
임대료         114
지하철          34
버스            0
단지내주차면수       0
dtype: int64

In [69]:
test[test.자격유형 =='D'].isna().sum()

단지코드          0
총세대수          0
건물구분          0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금       114
임대료         114
지하철          15
버스            0
단지내주차면수       0
dtype: int64

## 지하철 & 버스

In [119]:
train.지하철.fillna(0, inplace = True)
train.버스.fillna(0, inplace =True)

test.지하철.fillna(0, inplace = True)
test.버스.fillna(0, inplace = True)

## 임대보증금

NaN 값도 있지만 숫자가 아닌 '-'으로 저장된 값도 존재.

In [71]:
train[train.임대보증금 =='-']['임대보증금'].count()

12

In [72]:
test[test.임대보증금=='-']['임대보증금'].count()

6

In [120]:
train.loc[train.임대보증금 =='-', '임대보증금'] = np.NaN
test.loc[test.임대보증금 == '-', '임대보증금'] = np.NaN

In [74]:
train.임대보증금.fillna(99999999999).astype(int).describe()

count    2.632000e+03
mean     1.157388e+10
std      3.196013e+10
min      3.056000e+06
25%      1.525150e+07
50%      2.331400e+07
75%      4.155025e+07
max      1.000000e+11
Name: 임대보증금, dtype: float64

In [121]:
train.임대보증금.fillna(0, inplace =True)
test.임대보증금.fillna(0, inplace = True)

## 임대료

In [76]:
train[train.임대료=='-']['임대료'].count()

21

In [77]:
test[test.임대료=='-'].임대료.count()

6

In [122]:
train.loc[train.임대료=='-', '임대료'] = np.NaN
test.loc[test.임대료 =='-','임대료'] = np.NaN

In [123]:
train.임대료.fillna(0, inplace = True)
test.임대료.fillna(0, inplace = True)

# 단지코드별 집계가 필요한 변수

In [124]:
train.groupby('단지코드').nunique().sum(axis =0)

단지코드         423
총세대수         423
건물구분         456
지역           423
공급유형         488
전용면적        1898
전용면적별세대수    2230
공가수          423
자격유형         510
임대보증금       1277
임대료         1289
지하철          423
버스           423
단지내주차면수      423
등록차량수        423
dtype: int64

#### >> 건물구분, 공급유형, 전용면적, 전용면적별세대수, 자격유형, 임대보증금, 임대료

In [222]:
change_col = ['건물구분','공급유형','전용면적','전용면적별세대수',
                          '자격유형','임대보증금','임대료']

In [232]:
train_agg = train.drop(change_col, axis = 1)
test_agg = test.drop(change_col, axis = 1)

In [233]:
train_agg = train_agg.drop_duplicates()
test_agg = test_agg.drop_duplicates()

## 지역별 인구구성비 데이터 결합

In [234]:
train_agg = pd.merge(train_agg, ageG, on ='지역')

In [236]:
train_agg.set_index('단지코드',inplace =True)

In [237]:
test_agg = pd.merge(test_agg, ageG, on ='지역')

In [238]:
test_agg.set_index('단지코드',inplace =True)

## 건물구분

In [131]:
train['건물구분'].value_counts()

아파트    2347
상가      285
Name: 건물구분, dtype: int64

In [132]:
building = train.groupby(['단지코드','건물구분'])['단지코드'].nunique().unstack().fillna(0)

In [145]:
test_building = test.groupby(['단지코드','건물구분'])['단지코드'].nunique().unstack().fillna(0)

## 공급유형

In [133]:
train.공급유형.value_counts()

국민임대         1730
임대상가          285
공공임대(10년)     203
행복주택          203
영구임대          149
공공임대(50년)      31
공공임대(분납)       12
장기전세            9
공공분양            7
공공임대(5년)        3
Name: 공급유형, dtype: int64

In [134]:
test.공급유형.value_counts()

국민임대         619
행복주택         121
임대상가         112
영구임대          44
공공임대(10년)     34
공공임대(50년)     13
공공임대(분납)       6
Name: 공급유형, dtype: int64

In [135]:
train.loc[train.공급유형.isin(['공공임대(10년)','공공임대(분납)',
                           '공공임대(5년)','공공분양']), '공급유형'] ='공공임대'

test.loc[test.공급유형.isin(['공공임대(10년)','공공임대(분납)',
                           '공공임대(5년)','공공분양']), '공급유형'] ='공공임대'


train.loc[train.공급유형.isin(['국민임대','장기전세']),'공급유형'] = '국민임대/장기전세'

test.loc[test.공급유형.isin(['국민임대','장기전세']),'공급유형'] = '국민임대/장기전세'

In [136]:
train.공급유형.value_counts()

국민임대/장기전세    1739
임대상가          285
공공임대          225
행복주택          203
영구임대          149
공공임대(50년)      31
Name: 공급유형, dtype: int64

In [137]:
test.공급유형.value_counts()

국민임대/장기전세    619
행복주택         121
임대상가         112
영구임대          44
공공임대          40
공공임대(50년)     13
Name: 공급유형, dtype: int64

In [146]:
supply = train.groupby(['단지코드','공급유형'])['단지코드'].nunique().unstack().fillna(0)

In [149]:
supply

공급유형   공공임대  공공임대(50년)  국민임대/장기전세  영구임대  임대상가  행복주택
단지코드
C1000   0.0        0.0        1.0   0.0   0.0   0.0
C1004   0.0        0.0        0.0   1.0   1.0   0.0
C1005   0.0        0.0        1.0   0.0   0.0   0.0
C1013   0.0        0.0        1.0   0.0   0.0   0.0
C1014   0.0        0.0        1.0   0.0   0.0   0.0
...     ...        ...        ...   ...   ...   ...
C2663   0.0        0.0        1.0   0.0   0.0   0.0
C2666   0.0        0.0        1.0   0.0   0.0   0.0
C2670   0.0        0.0        1.0   0.0   0.0   0.0
C2680   0.0        0.0        1.0   0.0   0.0   0.0
C2692   0.0        0.0        1.0   0.0   0.0   0.0

[423 rows x 6 columns]

In [148]:
list(supply.columns)

['공공임대', '공공임대(50년)', '국민임대/장기전세', '영구임대', '임대상가', '행복주택']

In [150]:
test_supply = test.groupby(['단지코드','공급유형'])['단지코드'].nunique().unstack().fillna(0)

## 전용면적 

극값 처리를 위해 100 이상의 값은 100으로 모두 변환

In [155]:
train.loc[train['전용면적']>100, '전용면적'] = 100
test.loc[test['전용면적'] > 100, '전용면적'] = 100

In [156]:
bins = [10,20,30,40,50,60,70,80,90,100]

In [158]:
areasize = train.groupby(['단지코드', pd.cut(train.전용면적, bins)]).size().unstack()
test_areasize = test.groupby(['단지코드', pd.cut(test.전용면적, bins)]).size().unstack()

In [159]:
area_col = ['면적10','면적20','면적30','면적40','면적50','면적60',
                          '면적70','면적80','면적90']

In [160]:
areasize.columns = area_col
test_areasize.columns = area_col

## 자격유형

In [163]:
train.groupby(['공급유형','자격유형'])['단지코드'].count().unstack().fillna(0)

자격유형,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O
공급유형,,,,,,,,,,,,,,,
공공임대,218.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
공공임대(50년),31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
국민임대/장기전세,1524.0,18.0,0.0,0.0,34.0,0.0,9.0,154.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
영구임대,2.0,0.0,92.0,0.0,3.0,3.0,0.0,0.0,49.0,0.0,0.0,0.0,0.0,0.0,0.0
임대상가,0.0,0.0,0.0,285.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
행복주택,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,105.0,33.0,33.0,2.0,29.0,1.0

#### 자격유형 J, K, L, M, N, O 의 경우 행복주택에서만 나타남 : 한개로 통일

In [164]:
li = ['J','K','L','M','N','O']

train.loc[train['자격유형'].isin(li), '자격유형'] = 'J'

In [165]:
train.groupby(['공급유형','자격유형'])['단지코드'].count().unstack().fillna(0)

자격유형            A     B     C      D     E    F    G      H     I      J
공급유형
공공임대        218.0   0.0   0.0    7.0   0.0  0.0  0.0    0.0   0.0    0.0
공공임대(50년)    31.0   0.0   0.0    0.0   0.0  0.0  0.0    0.0   0.0    0.0
국민임대/장기전세  1524.0  18.0   0.0    0.0  34.0  0.0  9.0  154.0   0.0    0.0
영구임대          2.0   0.0  92.0    0.0   3.0  3.0  0.0    0.0  49.0    0.0
임대상가          0.0   0.0   0.0  285.0   0.0  0.0  0.0    0.0   0.0    0.0
행복주택          0.0   0.0   0.0    0.0   0.0  0.0  0.0    0.0   0.0  203.0

In [166]:
test.groupby(['공급유형','자격유형'])['단지코드'].count().unstack().fillna(0)

자격유형,A,C,D,E,G,H,I,J,K,L,M,N
공급유형,,,,,,,,,,,,
공공임대,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
공공임대(50년),13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
국민임대/장기전세,516.0,0.0,0.0,10.0,1.0,92.0,0.0,0.0,0.0,0.0,0.0,0.0
영구임대,0.0,35.0,2.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0
임대상가,0.0,0.0,112.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
행복주택,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.0,16.0,12.0,2.0,10.0

In [168]:
test.loc[test['자격유형'].isin(li), '자격유형'] = 'J'

#### 'B'와 'G'는 국민임대/장기전세에만 나타남으로 하나로 결합 
#### 'C'와 'F'는 영구임대에서 나타남으로 하나로 결합

In [177]:
train.loc[train['자격유형'].isin(['B','G']), '자격유형'] ='B'
test.loc[test['자격유형'].isin(['B','G']), '자격유형'] ='B'

train.loc[train['자격유형'].isin(['C','F']), '자격유형'] ='C'
test.loc[test['자격유형'].isin(['C','F']), '자격유형'] = 'C'

In [179]:
train.groupby(['공급유형','자격유형'])['단지코드'].count().unstack().fillna(0)

자격유형            A     B     C      D     E      H     I      J
공급유형
공공임대        218.0   0.0   0.0    7.0   0.0    0.0   0.0    0.0
공공임대(50년)    31.0   0.0   0.0    0.0   0.0    0.0   0.0    0.0
국민임대/장기전세  1524.0  27.0   0.0    0.0  34.0  154.0   0.0    0.0
영구임대          2.0   0.0  95.0    0.0   3.0    0.0  49.0    0.0
임대상가          0.0   0.0   0.0  285.0   0.0    0.0   0.0    0.0
행복주택          0.0   0.0   0.0    0.0   0.0    0.0   0.0  203.0

In [180]:
test.groupby(['공급유형','자격유형'])['단지코드'].count().unstack().fillna(0)

자격유형           A    B     C      D     E     H    I      J
공급유형
공공임대        40.0  0.0   0.0    0.0   0.0   0.0  0.0    0.0
공공임대(50년)   13.0  0.0   0.0    0.0   0.0   0.0  0.0    0.0
국민임대/장기전세  516.0  1.0   0.0    0.0  10.0  92.0  0.0    0.0
영구임대         0.0  0.0  35.0    2.0   0.0   0.0  7.0    0.0
임대상가         0.0  0.0   0.0  112.0   0.0   0.0  0.0    0.0
행복주택         0.0  0.0   0.0    0.0   0.0   0.0  0.0  121.0

In [185]:
certi = train.groupby(['단지코드','자격유형'])['단지코드'].size().unstack().fillna(0)

In [187]:
test_certi = test.groupby(['단지코드','자격유형'])['단지코드'].size().unstack().fillna(0)

## 전용면적별세대수

In [188]:
train.전용면적별세대수.describe()

count    2632.000000
mean      114.365881
std       135.742354
min         1.000000
25%        26.000000
50%        78.000000
75%       154.000000
max      1865.000000
Name: 전용면적별세대수, dtype: float64

In [191]:
pp = train.groupby(['단지코드',pd.cut(train.전용면적, bins)])['전용면적별세대수'].sum().unstack().fillna(0)

In [193]:
test_pp = test.groupby(['단지코드',pd.cut(test.전용면적, bins)])['전용면적별세대수'].sum().unstack().fillna(0)

In [194]:
 pp_col = ['세대수10','세대수20','세대수30','세대수40','세대수50','세대수60','세대수70','세대수80','세대수90']

In [195]:
pp.columns = pp_col
test_pp.columns = pp_col

## 임대보증금 & 임대료

In [202]:
train.임대보증금 = train.임대보증금.astype(int)
train.임대료 = train.임대료.astype(int)

test.임대보증금 = test.임대보증금.astype(int)
test.임대료 = test.임대료.astype(int)

In [204]:
money = train.replace(0, np.NaN).groupby('단지코드')[['임대보증금','임대료']].mean()
test_money =test.replace(0, np.NaN).groupby('단지코드')[['임대보증금','임대료']].mean()

기존에 결측값을 모두 0으로 처리하였으나 평균 계산에서는 제외.

In [205]:
money.isna().sum()

임대보증금    1
임대료      2
dtype: int64

In [206]:
money[money.임대료.isna()]

             임대보증금  임대료
단지코드
C1326          NaN  NaN
C1397  173794500.0  NaN

In [208]:
train[train['단지코드'] =='C1326']

,단지코드,총세대수,건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
2547,C1326,1934,아파트,부산광역시,국민임대/장기전세,24.72,472,43.0,H,0,0,0.0,4.0,1670.0,1153.0
2548,C1326,1934,아파트,부산광역시,국민임대/장기전세,24.79,104,43.0,H,0,0,0.0,4.0,1670.0,1153.0
2549,C1326,1934,아파트,부산광역시,국민임대/장기전세,26.83,590,43.0,H,0,0,0.0,4.0,1670.0,1153.0
2550,C1326,1934,아파트,부산광역시,국민임대/장기전세,37.70,464,43.0,H,0,0,0.0,4.0,1670.0,1153.0
2551,C1326,1934,아파트,부산광역시,국민임대/장기전세,46.94,304,43.0,H,0,0,0.0,4.0,1670.0,1153.0

In [209]:
train[train['단지코드']=='C1397']

,단지코드,총세대수,건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
2043,C1397,370,아파트,서울특별시,국민임대/장기전세,23.32,51,9.0,A,87444000,0,0.0,3.0,1590.0,1595.0
2044,C1397,370,아파트,서울특별시,국민임대/장기전세,46.79,4,9.0,A,174888000,0,0.0,3.0,1590.0,1595.0
2045,C1397,370,아파트,서울특별시,국민임대/장기전세,46.91,69,9.0,A,174888000,0,0.0,3.0,1590.0,1595.0
2046,C1397,370,아파트,서울특별시,국민임대/장기전세,51.96,24,9.0,A,194562000,0,0.0,3.0,1590.0,1595.0
2047,C1397,370,아파트,서울특별시,국민임대/장기전세,51.99,80,9.0,A,194562000,0,0.0,3.0,1590.0,1595.0
2048,C1397,370,아파트,서울특별시,국민임대/장기전세,59.93,142,9.0,A,216423000,0,0.0,3.0,1590.0,1595.0

In [210]:
test_money.isna().sum()

임대보증금    1
임대료      1
dtype: int64

In [211]:
test_money[test_money['임대료'].isna()]

       임대보증금  임대료
단지코드
C2152    NaN  NaN

In [212]:
test[test['단지코드']=='C2152']

,단지코드,총세대수,건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수
1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,0,0,0.0,1.0,40.0
1006,C2152,120,아파트,강원도,영구임대,33.84,54,9.0,C,0,0,0.0,1.0,40.0

In [214]:
money.fillna(0, inplace =True)
test_money.fillna(0, inplace = True)

# 단지코드별 데이터 결합

In [239]:
# train data 

train_data = pd.merge(train_agg, building,
                     left_index = True, right_index = True)

train_data = pd.merge(train_data, supply,
                     left_index = True, right_index =True)

train_data = pd.merge(train_data, areasize,
                     left_index =True, right_index = True )

train_data = pd.merge(train_data, certi,
                     left_index =True, right_index = True )

train_data = pd.merge(train_data, pp,
                     left_index =True, right_index = True )

train_data = pd.merge(train_data, money,
                     left_index =True, right_index = True )

In [241]:
train_data

,총세대수,지역,공가수,지하철,버스,단지내주차면수,등록차량수,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),40대(남자),50대(여자),50대(남자),60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자),상가,아파트,공공임대,공공임대(50년),국민임대/장기전세,영구임대,임대상가,행복주택,면적10,면적20,면적30,면적40,면적50,면적60,면적70,면적80,면적90,A,B,C,D,E,H,I,J,세대수10,세대수20,세대수30,세대수40,세대수50,세대수60,세대수70,세대수80,세대수90,임대보증금,임대료
단지코드,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
C2483,900,경상북도,38.0,0.0,3.0,1425.0,1015.0,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,0.072613,0.087149,0.072146,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,2,0,6,0,0,0,0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149.0,0.0,751.0,0.0,0.0,0.0,0.0,2.477638e+07,167910.000000
C2371,474,경상북도,20.0,0.0,1.0,374.0,451.0,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,0.072613,0.087149,0.072146,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,3,3,2,0,0,0,0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,264.0,164.0,46.0,0.0,0.0,0.0,0.0,1.560438e+07,98516.250000
C2097,998,경상북도,29.0,0.0,2.0,1240.0,995.0,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,0.072613,0.087149,0.072146,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,4,2,1,0,0,0,0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,551.0,359.0,88.0,0.0,0.0,0.0,0.0,3.582557e+07,104372.857143
C1368,896,경상북도,29.0,0.0,10.0,900.0,861.0,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,0.072613,0.087149,0.072146,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,1,1,2,0,0,0,0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,176.0,180.0,540.0,0.0,0.0,0.0,0.0,1.959875e+07,166332.500000
C1057,521,경상북도,24.0,0.0,4.0,521.0,521.0,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,0.072613,0.087149,0.072146,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,1,1,2,0,0,0,0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134.0,135.0,252.0,0.0,0.0,0.0,0.0,1.959875e+07,166332.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C1652,890,서울특별시,20.0,1.0,8.0,423.0,509.0,0.015323,0.015627,0.025210,0.026121,0.052712,0.056782,0.047655,0.051877,0.054216,0.068673,0.077163,0.064801,0.119639,0.078939,0.097543,0.061050,0.047853,0.023463,0.011344,0.003326,0.000532,0.000152,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1,6,3,1,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,188.0,336.0,228.0,134.0,0.0,0.0,0.0,0.0,0.0,7.367273e+07,245574.545455
C2051,1164,세종특별자치시,0.0,0.0,3.0,755.0,780.0,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,0.074932,0.067065,0.056631,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,4,1,5,13,0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,294.0,24.0,376.0,470.0,0.0,5.500000e+07,549565.217391
C2612,1684,세종특별자치시,27.0,0.0,2.0,1689.0,1832.0,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,0.074932,0.067065,0.056631,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,2,1,1,0,0,0,0,0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,682.0,620.0,382.0,0.0,0.0,0.0,0.0,0.0,1.497500e+07,190500.000000
C1802,1438,세종특별자치시,3.0,0.0,2.0,1500.0,1983.0,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,0.074932,0.067065,0.056631,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,11,0,0,0,0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1438.0,0.0,0.0,0.0,0.0,4.227273e+07,466363.636364
C2086,1080,세종특별자치시,7.0,0.0,2.0,1142.0,1524.0,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,0.074932,0.067065,0.056631,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,5,0,2,2,0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,606.0,0.0,234.0,240.0,0.0,4.611111e+07,511111.111111

In [242]:
# train data 

test_data = pd.merge(test_agg, test_building,
                     left_index = True, right_index = True)

test_data = pd.merge(test_data, test_supply,
                     left_index = True, right_index =True)

test_data = pd.merge(test_data, test_areasize,
                     left_index =True, right_index = True )

test_data = pd.merge(test_data, test_certi,
                     left_index =True, right_index = True )

test_data = pd.merge(test_data, test_pp,
                     left_index =True, right_index = True )

test_data = pd.merge(test_data, test_money,
                     left_index =True, right_index = True )

In [243]:
test_data

,총세대수,지역,공가수,지하철,버스,단지내주차면수,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),40대(남자),50대(여자),50대(남자),60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자),상가,아파트,공공임대,공공임대(50년),국민임대/장기전세,영구임대,임대상가,행복주택,면적10,면적20,면적30,면적40,면적50,면적60,면적70,면적80,면적90,A,B,C,D,E,H,I,J,세대수10,세대수20,세대수30,세대수40,세대수50,세대수60,세대수70,세대수80,세대수90,임대보증금,임대료
단지코드,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
C1072,754,경기도,14.0,0.0,2.0,683.0,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,0.078355,0.077345,0.064859,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,1,3,4,0,0,0,0,1.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,116.0,262.0,376.0,0.0,0.0,0.0,0.0,3.812025e+07,265843.750000
C1128,1354,경기도,9.0,0.0,3.0,1216.0,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,0.078355,0.077345,0.064859,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,3,3,3,0,0,0,0,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,420.0,356.0,578.0,0.0,0.0,0.0,0.0,3.412500e+07,245516.666667
C1332,1297,경기도,11.0,0.0,2.0,1112.0,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,0.078355,0.077345,0.064859,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,2,4,2,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,425.0,568.0,304.0,0.0,0.0,0.0,0.0,4.133450e+07,292880.000000
C1563,1974,경기도,15.0,0.0,6.0,1696.0,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,0.078355,0.077345,0.064859,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,3,5,3,0,0,0,0,9.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,719.0,656.0,599.0,0.0,0.0,0.0,0.0,4.269218e+07,293214.545455
C1721,663,경기도,20.0,0.0,3.0,573.0,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,0.078355,0.077345,0.064859,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,1,3,2,0,0,0,0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,155.0,389.0,119.0,0.0,0.0,0.0,0.0,3.853050e+07,263335.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C1633,178,대구광역시,22.0,0.0,4.0,168.0,0.023765,0.025626,0.034098,0.037897,0.062559,0.068251,0.061825,0.071207,0.070090,0.067977,0.092891,0.072400,0.094511,0.073133,0.055914,0.036572,0.031887,0.012556,0.005364,0.001259,0.000219,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,2,0,1,0,0,0,0,0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,78.0,0.0,0.0,0.0,0.0,0.0,1.676333e+07,183520.000000
C2451,395,대구광역시,2.0,0.0,3.0,433.0,0.023765,0.025626,0.034098,0.037897,0.062559,0.068251,0.061825,0.071207,0.070090,0.067977,0.092891,0.072400,0.094511,0.073133,0.055914,0.036572,0.031887,0.012556,0.005364,0.001259,0.000219,0.000000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,4,0,0,0,0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,395.0,0.0,0.0,0.0,0.0,5.000000e+07,450000.000000
C2292,906,세종특별자치시,22.0,0.0,2.0,906.0,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,0.074932,0.067065,0.056631,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1,3,1,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,336.0,402.0,168.0,0.0,0.0,0.0,0.0,0.0,1.681760e+07,206212.000000
C2551,674,세종특별자치시,18.0,0.0,2.0,674.0,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,0.074932,0.067065,0.056631,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,3,2,1,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,352.0,178.0,144.0,0.0,0.0,0.0,0.0,0.0,1.521567e+07,179385.000000
C1229,453,세종특별자치시,23.0,0.0,2.0,317.0,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,0.074932,0.067065,0.056631,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,6,1,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,262.0,0.0,158.0,30.0,0.0,0.0,0.0,0.0,0.0,2.819088e+07,112760.000000

## 지역값 라벨링

In [244]:
from sklearn.preprocessing import LabelEncoder

In [245]:
le = LabelEncoder()
le.fit(train_data.지역)

LabelEncoder()

In [246]:
train_data.지역 = le.transform(train_data.지역)
test_data.지역 = le.transform(test_data.지역)

In [248]:
print(train_data.shape, test_data.shape)

(423, 65) (150, 64)

# 모델 학습

In [249]:
y = train_data.등록차량수 
x = train_data.drop(['등록차량수'], axis = 1)

In [250]:
from sklearn.model_selection import train_test_split

In [251]:
train_x, test_x , train_y, test_y = train_test_split(x, y, 
                                                    test_size = 0.2, 
                                                    random_state = 0 )

In [252]:
from sklearn.ensemble import RandomForestRegressor

In [253]:
rf = RandomForestRegressor(random_state = 0)

In [254]:
rf.fit(train_x, train_y)

RandomForestRegressor(random_state=0)

In [255]:
pred = rf.predict(test_x)

In [257]:
from sklearn.metrics import mean_squared_error

In [258]:
mean_squared_error(test_y, pred)

14234.199049411765

In [259]:
rf.fit(x, y)

RandomForestRegressor(random_state=0)

In [260]:
pred = rf.predict(test_data)

In [264]:
sub.iloc[:,1:]=pred

In [266]:
sub.to_csv('submission/인구특성등.csv', index =False)

## MAE 418

In [274]:
except_x = x.drop(x.iloc[:,6:6+22], axis = 1)

In [277]:
except_ts = test_data.drop(test_data.iloc[:,6:6+22], axis =1)

In [278]:
rf.fit(except_x, y)
pred = rf.predict(except_ts)

In [279]:
sub.iloc[:,1:]=pred
sub.to_csv('submission/인구특성제외.csv', index =False)

## MAE 419